
#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	z-index: 2;
}

#preloader .loading .circle {
	width: 100px;
	height: 100px;
	margin: 0 auto 50px auto;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	border: 3px solid rgba(36, 36, 32, 0.2);
	border-top-color: #0c4a9b;
	-webkit-animation: spinner 1s infinite linear;
	animation: circle-movement 1s infinite linear;
}

@-webkit-keyframes circle-movement {
	to {
		-webkit-transform: rotateZ(540deg);
		transform: rotateZ(540deg);
	}
}

@keyframes circle-movement {
	to {
		-webkit-transform: rotateZ(540deg);
		transform: rotateZ(540deg);
	}
}